body {
    background: #f4f3ff;
    font-family: Arial;
}

.box {
    width: 40%;
    margin: 70px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
    color: #6d4ab5;
    text-align: center;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #6d4ab5;
    border-radius: 5px;
}

button {
    background: #6d4ab5;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    padding: 8px;
    border-radius: 5px;
    margin-top: 8px;
}

